.contatosDiv {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.contatosPaper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  align-items: center;
  margin: 0 10vw;
}

.contatos__pesquisa {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__input {
    line-height: 1.25rem;
    padding: 1rem 2rem;
    border: 1px solid #c5c5c5;
    border-radius: 2rem;
    min-width: calc(20vw - 2rem);
    font-size: 16px;
    font-weight: 400;
  }

  margin-bottom: 1rem;
}

.contatos {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  .contato {
    $padding: 1rem;
    padding: $padding;
    padding-right: calc($padding * 3);
    min-width: 10vw;
    position: relative;

    &__botao {
      $tamanho: 20px;
      padding: 0;
      min-width: $tamanho;
      min-height: $tamanho;
      width: $tamanho;
      height: $tamanho;
      border-radius: 100%;
      position: absolute;
      top: 0;
      right: 0;
      margin: $padding;
      font-weight: 400;
    }
  }
}