@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(99vh - 3rem);
  margin: 2rem 0 1rem 0;
  gap: 3rem;
}